<div class="navbar sticky-top" id="nav">
    <div class="container">
        <div class="row">
            <div class="search col-md-5">
                <div class="face-logo">
                <img src="assets/images/facebookLogo.jpg">
            </div>
            <div class="search-input">
                <input type="search" placeholder="Search">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <div class="clear-fix"></div>
            </div>
            <div class="icons col-md-6">
             <ul>
                 <li class="user"><a routerLink='/user' class="activeLink"><img src="assets/images/profile-img.jpg"> mai</a></li>
                 <li class="home"><a routerLink='/home' class="activeLink">Home</a></li>
                 <li class="findFriend"><a class="activeLink">Find Friends</a></li>
                 <li class="create"><a class="activeLink">Create</a></li>
                 <li><a class="activeLink"><i class="fa fa-user" aria-hidden="true"></i>
                 </a>
                 <div class="hidden-list-friends-request">
                    <ul>
                        <li><a>
                            <div class="">
                                <h6>Friend Requests</h6>
                            </div>
                            <div class="line"></div>
                           <div class="d-flex">
                               <div class="h-100 w-25"><img src="assets/images/01.jpg" class="mr-2"></div>
                               <div>
                                   <h6>Mohamed samy send frind requet</h6>
                                   <button class="text-light bg-primary border-0 p-1 rounded">Confirm</button>
                                   <button class="text-light bg-primary border-0 p-1 ml-2 rounded">Cancel</button>
                            </div>
                           </div>
                        </a></li>
                        <li><a>
                            <div class="d-flex">
                                <div class="h-100 w-25"><img src="assets/images/02.jpg" class="mr-2"></div>
                                <div>
                                    <h6>Mohamed samy send frind requet</h6>
                                    <button class="text-light bg-primary border-0 p-1 rounded">Confirm</button>
                                    <button class="text-light bg-primary border-0 p-1 ml-2 rounded">Cancel</button>                                </div>
                            </div>                            
                        </a></li>
                        <li><a>
                            <div class="d-flex">
                                <div class="h-100 w-25"><img src="assets/images/03.jpg" class="mr-2"></div>
                                <div>
                                    <h6>Mohamed samy send frind requet</h6>
                                    <button class="text-light bg-primary border-0 p-1 rounded">Confirm</button>
                                    <button class="text-light bg-primary border-0 p-1 ml-2 rounded">Cancel</button>                                </div>
                            </div>                            
                        </a></li>
                        <li><a>
                            <div class="d-flex">
                                <div class="h-100 w-25"><img src="assets/images/04.jpg" class="mr-2"></div>
                                <div>
                                    <h6>Mohamed samy send frind requet</h6>
                                    <button class="text-light bg-primary border-0 p-1 rounded">Confirm</button>
                                    <button class="text-light bg-primary border-0 p-1 ml-2 rounded">Cancel</button>                                </div>
                            </div>                            
                        </a>
                        </li>
                        <li><a>
                            <div class="d-flex">
                                <div class="h-100 w-25"><img src="assets/images/05.jpg" class="mr-2"></div>
                                <div>
                                    <h6>Mohamed samy send frind requet</h6>
                                    <button class="text-light bg-primary border-0 p-1 rounded">Confirm</button>
                                    <button class="text-light bg-primary border-0 p-1 ml-2 rounded">Cancel</button>                                </div>
                            </div>
                         </a></li>

                        


                    </ul>
                </div>
                
                
                
                
                
                
                
                </li>
                 <li><a><i class="fa fa-comment" aria-hidden="true"></i></a>
                    
                
                    <div class="hidden-list-question">
                    <ul>
                        <li><a>
                            <div class="">
                                <h6>Recent(9) <span class="text-muted">Message Requests</span></h6>
                            </div>
                            <div class="line"></div>
                           <div class="d-flex">
                               <div class="h-100 w-25"><img src="assets/images/01.jpg" class="mr-2"></div>
                               <div><h6>Mohamed samy</h6><span class="text-dark">mnb</span></div>
                           </div>
                           <div class="line"></div>

                        </a></li>
                        <li><a>
                            <div class="d-flex">
                                <div class="h-100 w-25"><img src="assets/images/02.jpg" class="mr-2"></div>
                                <div><h6>Salma samy message you</h6></div>
                            </div>  
                            <div class="line"></div>
                          
                        </a></li>
                        <li><a>
                            <div class="d-flex">
                                <div class="h-100 w-25"><img src="assets/images/03.jpg" class="mr-2"></div>
                                <div><h6>Esraa samy</h6></div>
                            </div> 
                            <div class="line"></div>
                           
                        </a></li>
                        <li><a>
                            <div class="d-flex">
                                <div class="h-100 w-25"><img src="assets/images/04.jpg" class="mr-2"></div>
                                <div><h6>Manar samy</h6></div>
                            </div>    
                            <div class="line"></div>
                        
                        </a>
                        </li>
                        <li><a>
                            <div class="d-flex">
                                <div class="h-100 w-25"><img src="assets/images/05.jpg" class="mr-2"></div>
                                <div><h6>Mohamed samy</h6></div>
                            </div>
                            <div class="line"></div>

                         </a></li>

                         <li><a>
                            <div class="d-flex">
                                <div class="h-100 w-25"><img src="assets/images/02.jpg" class="mr-2"></div>
                                <div><h6>Salma samy</h6></div>
                            </div> 
                            <div class="line"></div>
                           
                        </a></li>
                        <li><a>
                            <div class="d-flex">
                                <div class="h-100 w-25"><img src="assets/images/03.jpg" class="mr-2"></div>
                                <div><h6>Esraa samy</h6></div>
                            </div>                            
                        </a></li>
                        <li><a>
                            <div class="d-flex">
                                <div class="h-100 w-25"><img src="assets/images/04.jpg" class="mr-2"></div>
                                <div><h6>Manar samy</h6></div>
                            </div>   
                            <div class="line"></div>
                         
                        </a>
                        </li>
                        <li><a>
                            <div class="d-flex">
                                <div class="h-100 w-25"><img src="assets/images/05.jpg" class="mr-2"></div>
                                <div><h6>Mohamed samy</h6></div>
                            </div>
                            <div class="line"></div>

                         </a></li>


                    </ul>
                </div>
                            
                </li>
                 <li>
                     <a><i class="fa fa-bell" aria-hidden="true"></i></a>
                    <div class="hidden-list">
                        <ul>
                            <li><a>
                                <div class="">
                                    <h6>Notification <span class="text-muted">notfiy you</span></h6>
                                </div>
                                <div class="line"></div>

                               <div class="d-flex">
                                   <div class="h-100 w-25"><img src="assets/images/01.jpg" class="mr-2"></div>
                                   <div><h6>Mohamed samy posted in mufics_4d_it</h6></div>
                               </div>
                            </a></li>
                            <li><a>
                                <div class="d-flex">
                                    <div class="h-100 w-25"><img src="assets/images/02.jpg" class="mr-2"></div>
                                    <div><h6>Salma samy posted a new video on her terminal</h6></div>
                                </div>                            
                            </a></li>
                            <li><a>
                                <div class="d-flex">
                                    <div class="h-100 w-25"><img src="assets/images/03.jpg" class="mr-2"></div>
                                    <div><h6>Esraa samy posted a new post on her terminal</h6></div>
                                </div>                            
                            </a></li>
                            <li><a>
                                <div class="d-flex">
                                    <div class="h-100 w-25"><img src="assets/images/04.jpg" class="mr-2"></div>
                                    <div><h6>Manar samy posted in mufic_4d_cs</h6></div>
                                </div>                            
                            </a>
                            </li>
                            <li><a>
                                <div class="d-flex">
                                    <div class="h-100 w-25"><img src="assets/images/05.jpg" class="mr-2"></div>
                                    <div><h6>Mohamed samy posted in mufics</h6></div>
                                </div>
                             </a></li>

                        </ul>
                    </div>
                 </li>
                 <li><a><i class="fa fa-question-circle" aria-hidden="true"></i></a>
                 <div class="hidden-list-message">
                    <ul>
                        <li><a>
                           <div class="d-flex">
                               <div><h6>Mohamed samy posted in mufics_4d_it</h6></div>
                           </div>
                        </a></li>
                        <li><a>
                            <div class="d-flex">
                                <div><h6>Salma samy posted a new video on her terminal</h6></div>
                            </div>                            
                        </a></li>
                        <li><a>
                            <div class="d-flex">
                                <div><h6>Esraa samy posted a new post on her terminal</h6></div>
                            </div>                            
                        </a></li>
                        <li><a>
                            <div class="d-flex">
                                <div><h6>Manar samy posted in mufic_4d_cs</h6></div>
                            </div>                            
                        </a>
                        </li>
                        <li><a>
                            <div class="d-flex">
                                <div><h6>Mohamed samy posted in mufics</h6></div>
                            </div>
                         </a></li>

                    </ul>
                </div>
                
                </li>
                 <li><a><i class="fa fa-caret-down" aria-hidden="true"></i>
                 </a>
                 <div class="hidden-list-caret">
                    <ul>
                        <li><a>
                            Find Friends
                        </a></li>
                        <li><a>
                               Groups                        
                        </a></li>
                        <li><a>
                              Pages                       
                        </a></li>
                        <li><a>
                             Settings    
                     
                        </a>
                        </li>
                        <li><a>
                            Log Out
                         </a></li>

                    </ul>
                </div>
                
                
                
                </li>
                 <div class="clear-fix"></div>
             </ul>
            </div>
        </div>
    </div>
</div>