<div class="lighter show" id="lighter"> 
    <div class="lighter-item" id="lighter-item">
     <div class="posts col-md-12">
     <div class="create-post">
       <div class="row create-post-h6">
       <div class=" col-md-11"><h6>Create Post</h6></div>
       <div class="close col-md-1 " (click)="wclose()"><i id="wclose"  class="fa fa-window-close"></i> </div>
  
  </div>
      <div class="line"></div>
      <div class="post">
      <div class="posts-img">
      <img src="assets/images/profile-img.jpg">
  </div>
  <div class="posts-textarea" >
      <textarea placeholder="What's on your mind, Mai?" [ngModel]='userData.postcontent' ></textarea>
  </div>
  <div class="clear-fix"></div>
  </div>
  <div class="line"></div>
  <div class="buttons">
  <div class="upload-photo">
  <button><i class="fa fa-picture-o" aria-hidden="true"></i>
  photo/video </button>
  </div>
  <div class="tag-friends">
  <button><i class="fa fa-user" aria-hidden="true"></i>
   Tag Friends </button>
  </div>
  <!-- <div class="feelings">
  <button><img src="assets/images/emojis.png">
   Feeling</button>
  </div> -->
  <div class="clear-fix"></div>
  <button class="btn-post w-100 text-light rounded p-1 mt-3" id="btn-post" (click)="btnpost()">Post</button>
  </div>
  </div>
  </div></div></div>