.dashboard{  
    float: left;
    margin-left: 82%;
    height: 100%;
    width: 18%;
    margin-top: 1px;
    background-color: #e9ebee;  
    color: black;
    overflow: auto;
    position: fixed;
    border-radius: 4px;
    padding: 15px 15px 30px 30px;
    padding-bottom: 15px;
    border-left: 1px solid rgb(214, 214, 214);
}
.dashboard ul li img{width: 20%;margin-left: -20%;border-radius: 50%;}
.dashboard ul li{
    list-style-type: none;
    padding-top: 12px;
    font-size: 16px;
}
.dashboard ul li a div{
    background-color: green;
    width: 8px;
    height: 8px;
    position: absolute;
    margin-top: -9px;
    margin-left: -1%;
    border-radius: 50%;
}
.dashboard ul li p{ 
    position: absolute;
    margin-top: -19px;
    margin-left: 5%;}
.dashboard ul li a{color:rgb(131, 131, 131) ;cursor: pointer;}
@media (max-width: 767px ){/* mobile & tablet*/
    .dashboard{
       display: none;
    }


}

@media (min-width: 768px) and (max-width:991px){ /* small screen */
.dashboard{
    margin-left: 76%;
    width: 31%;

}}