.home{background-color: #e9ebee;}
.groups-links ul li{
    list-style-type: none;
    padding-top: 17px;
    color: rgb(102, 101, 101);
    cursor: pointer;
}
.groups-links ul li img{
    height: 20px;
    width: 10%;
    margin-right: 3%;
    border-radius: 50%;
}
.show{display: none !important;}
.groups-links{margin-left: -3%;}
.groups-links ul li h5{color:rgb(92, 92, 92)}
.groups-links ul li i{margin-right: 2%;}
.fa-comment,.fa-television,.group{color: #3b5998;}
.fa-home,.fa-newspaper-o,.fa-trophy,.fa-calendar{color:green}
.fa-flag,.fa-sun-o{color: rgb(202, 202, 4);}
.create-post{border:1px solid rgb(221, 220, 220);margin-top: 23px;}
.create-post h6{margin: 8px}
.post{background-color: white;padding-left: 1%;height: 108px;}
.posts{margin-left: -7%;}
.posts-img,.posts-textarea{float: left;height: 108px;}
.posts-img{
    width: 8%;
    margin-top: 2%;
    height: 25px;
    margin-right: 2%;
    padding-left: 2%;
}
.posts-img img{width: 100%;height:100%;border-radius: 50%;}
.clear-fix{clear:both}
.posts-textarea{width:90%}
.posts-textarea textarea{width: 100%;border:none;outline: none;margin-top: 2%;}
.line{
    background-color: #cecece;
    height: 1px;
    width: 100%;
    margin-left: 0%;
}
.postsCreatedpart2{background-color: white; padding: 16px; color: rgb(100, 100, 100);}
.buttons{background-color: white;padding: 15px}
.line2,.line3{margin-top: -2%;}
.upload-photo,.tag-friends,.feelings{float: left;width: 33%;}
.feelings img{width:5%;height: 15px;}
.buttons button{
    background-color:#e9ebee;
    border:none;
    outline: none;
    border-radius: 5px;
}
.fa-user{color: #3b5998;}
.fa-picture-o{color:green}
.discovered-groups{background-color: white;margin-top: 25px;padding:20px}
.discovered-groups-first{
    width: 100%;
 
}
.discovered-groups-first img{width:100%}
.discovered-groups-first h6{color: #3b5998;}
.discovered-groups-first p{color:rgb(105, 105, 105)}
.discovered-icons{background-color: white;margin-top: 15px;}
.discovered-icons ul li
,.discovered-icons2 ul li{float: left;list-style-type: none;color: #3b5998;margin-left: 3%;cursor: pointer;}
.discovered-icons2 ul li{color:gray;cursor: pointer;}
.discovered-icons ul,.discovered-icons2 ul{margin-left: -12%;}
.chat{
    position: absolute;
    left: 72%;
    top: 146%;
    background-color: white;
}
 .postImage img{border-radius: 50%;width: 58%;}
 span{
    margin-top: -2%;
    font-size: 13px;
 }
 .seemorelist{margin-left: -18%;}
ul li{cursor:pointer}

@media (max-width: 767px ){/* mobile & tablet*/
    .groups-links{
       display: none;
    }
    .posts{
        margin-left: 2%;
    }


}
@media (min-width: 768px) and (max-width:991px){ /* small screen */
    .groups-links{
        display: none;
     }
     .posts{
         margin-left: -1%;
     }

     .discovered-groups{
        width: 127%;
        margin-left: 27%;
     }
     .create-post{width: 121%;}


}