<app-navbar></app-navbar>
<app-dashboard></app-dashboard>
<div class="home">
    <app-posts></app-posts>
<div class="container">
    <div class="row">

        <div class="groups-links col-md-3">
            <ul>
                <li><a><img src="assets/images/profile-img.jpg">mai mohamed</a></li><br>
                <li><a><i class="fa fa-newspaper-o" aria-hidden="true"></i>
                    News Feed </a></li>
                <li><a><i class="fa fa-comment" aria-hidden="true"></i>
                    Messenger</a></li>
                <li><a><i class="fa fa-television" aria-hidden="true"></i>
                    Watch</a></li>
                <li><a><i class="fa fa-home" aria-hidden="true"></i>
                     MarketPlace</a></li><br>
                     <h5>Shortcuts</h5>
                <li><a><i class="fa fa-users" aria-hidden="true"></i>
                   Mufci_4th</a></li>
                <li><a><i class="fa fa-users" aria-hidden="true"></i>
                    Mufci_4th_cs</a></li>
                <li><a><i class="fa fa-users" aria-hidden="true"></i>
                programming</a></li><br>
                <h5>Explore</h5>
                <li><a><i class="fa fa-users group" aria-hidden="true"></i>
                   Groups </a></li>
                   <li><a><i class="fa fa-flag" aria-hidden="true"></i>
                   Pages</a></li>
                   <li><a><i class="fa fa-calendar" aria-hidden="true"></i>
                   Events</a></li>
                   <li><a><i class="fa fa-sun-o" aria-hidden="true"></i>
                   Weather</a></li>
                   <li class="seeMore" id="seeMore"><a>see more</a></li>
                   <ul class="seemorelist show" id="seeMoreList">
                   <li><a><i class="fa fa-trophy" aria-hidden="true"></i>
                   Games</a></li>
                   <li><a><i class="fa fa-trophy" aria-hidden="true"></i>
                    Friends List</a></li>
                    <li><a><i class="fa fa-trophy" aria-hidden="true"></i>
                        Jobs</a></li>
                        <li><a><i class="fa fa-trophy" aria-hidden="true"></i>
                            Saved</a></li>
                        </ul>
            </ul>
        </div>
        <div class="posts col-md-5">
            <div class="create-post">
                <h6>Create Post</h6>
                <div class="line"></div>
                <div class="post">
                <div class="posts-img">
                <img src="assets/images/profile-img.jpg">
            </div>
            <div class="posts-textarea" id="posts-textarea" (click)="divPosts()">
                <textarea placeholder="What's on your mind, Mai?"></textarea>
            </div>
            <div class="clear-fix"></div>
        </div>
        <div class="line"></div>
        <div class="buttons">
        <div class="upload-photo">
           <button><i class="fa fa-picture-o" aria-hidden="true"></i>
            photo</button>
        </div>
        <div class="tag-friends">
            <button><i class="fa fa-user" aria-hidden="true"></i>
             Tag</button>
         </div>
         <div class="feelings">
            <button><img src="assets/images/emojis.png">
             Feeling</button>
         </div>
         <div class="clear-fix"></div>
        </div>
            </div>
            <div class="allpost">
            <div class=" bg-white d-flex mt-3 show" id="headerPost">
                <div class="postImage ml-2 mb-2 mt-2"><img class="border-pull" src="assets/images/01.jpg"></div>
                <div class="mt-2"><h6>mai mohamed</h6><span class="text-muted position-absolute">1min</span></div>
            </div>
            <div class="line3 show" id="line3"></div>
          <div class="postsCreated" id="postsCreated"></div>
          <div class="line line2 show" id="line2"></div>
            <div class="postsCreatedpart2 d-flex show" id="postsCreatedpart2">
                <div class="ml-4">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like
                </div>
                <div class="ml-4 mr-5">
                    <i class="fa fa-comment-o" aria-hidden="true"></i> Comment
                </div>
                <div class="">
                    <i class="fa fa-share" aria-hidden="true"></i> Share
                </div>
            </div>

        </div>
    
    </div>
        <div class="discovered col-md-3">
            <div class="discovered-groups">
                <h6 style="color:gray">Sponsored</h6>
            <div class="discovered-groups-first">
                <img src="assets/images/3.png">
                <h6>Sales Many courses for one low price!</h6>

                <p>Ending Soon: The Site-Wide Sale is Back!</p>
            </div>
            <div class="discovered-groups-first">
                <img src="assets/images/1.png">
                <h6>Sales Many courses for one low price!</h6>

                <p>Ending Soon: The Site-Wide Sale is Back!</p>
            </div>
        </div>
        <div class="discovered-icons">
            <ul>
                <li><a>English(US)</a></li>
                <li><a>العربية</a></li>
                <li><a>Francais(France)</a></li>
                <li><a>Espanol</a></li>
                <li><a>Portugues</a></li>
                <div class="clear-fix"></div>
            </ul>
        </div>
        <div class="discovered-icons2">
            <ul>
                <li><a>Privacy</a></li>
                <li><a>Terms</a></li>
                <li><a>Advertising</a></li>
                <li><a>Ad Choices</a></li>
                <li><a>Cookies</a></li>
                <div class="clear-fix"></div>
            </ul>
        </div>
        
        </div>
    </div>
 </div>   
</div>
<app-chat></app-chat>
