.login-part{background-color: #3b5998;
    background-image: linear-gradient(#4e69a2, #3b5998 50%)}
.group1,.group2,.form-button{float: left;margin-left: 3%;}
.clear-fix{clear: both;}
.login{margin-left: 32%;}
.form-button{margin-top: 6%;}
.facebook-h2{margin-left: 9%; color:white}
.facebook-h2 h2{margin-top: 32%;font-size: 33px;}
.login  label{color:white;font-size: 13px;}
.btn-btn-info{
    height: 35px;
    margin-top: -11%;
    color: white;
    background-color: #3e67c0;
    border-radius: 2px;
    border:none;
    outline: none;
    border: 1px solid rgb(49, 49, 49);
    cursor: pointer;
}
.register-part{background-color: #e9ebee;padding-top: 14px;}
.recent-login{margin-left: 9%;}
.register{margin-left: 7%;}
.group3 input,.group4 input{width: 70%;margin-left: 3%;}
.group5,.group6,.group7{float: left;width:15%;margin-left: 3%;}
.birthday,.group8,p{margin-left: 3%;color: gray;}
.group8 input{width:5%}
.btn-btn-info2{
    width: 30%;
    color: white;
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    height: 43px;
    border-radius: 3px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 3%;
}
.register-part h3{margin-left: 3%;}
.register form input{margin-top: 6px;padding: 7px;}
.register-p{font-size: 12px;color: gray;}
.create-page{color: #3b5998;}
.add-account{
    background-color: #f5f6f7;
    width: 50%;
    height: 162px;
}
.fa-plus{
    background-color: #3b5998;
    color: white;
    font-size: 21px;
    margin: 71px;
    padding: 7px;
    border-radius: 52%;
}
.recent-login button{
    background-color: white;
    color: #3b5998;
    width: 50%;
    border: none;
    outline: none;
    height: 46px;
    font-size: 18px;
}
.footer-ul1 ul{margin-left: 16%;margin-top: 40px;}
.footer-ul2 ul{margin-left: 16%;}
.footer-ul3 ul{ margin-top: -10px;margin-left: 16%;}
.footer ul li{list-style-type: none;float: left;margin-left: 1%;color: #3b5998;cursor: pointer;font-size: 13px;}
.line{
    background-color: rgb(206, 206, 206);
    height: 1px;
    width: 60%;
    margin-left: 16%;
}
@media (max-width: 767px ){/* mobile & tablet*/
    .login{margin-left: -1%;}
    .facebook-h2{margin-top: -25%;}
    .register-part{margin-left: -8%;}
    .footer{margin-left: -23%;}
     .group1{margin-bottom: 1%;}

}
@media (min-width: 768px) and (max-width:991px){ /* small screen */
    .add-account{width: 76%;}
    .recent-login button{width: 75%;}

}
@media (min-width: 992px) and (max-width:1199px) { /* medium screen */


}